# Node.js dependencies
node_modules/

# Build and distribution files
dist/
build/

# Environment variables
.env

# Log files
*.log

# macOS system files
.DS_Store

# Visual Studio Code settings
.vscode/